html {
    background-color: rgba(228, 19, 16, 0.7);
    font-family: 'Roboto', sans-serif;
}
.main {
    font-size: 2rem;
    color: gainsboro;
    text-align: center;
}
.button {
    background-color: rgba(228, 19, 16);
    width: 200px;
    height: 70px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding-top: 10px;
    color: white;
    text-align: center;
    vertical-align: bottom;
    border: solid 2px white;
}
.button:hover {
    background-color: rgba(136, 175, 145, 1);
}
.current {
    font-size: 3rem;
    opacity: 0.5;
    color: white;
    text-align: center;
    z-index: -1;
}
.container {
    margin-bottom: 0px;
}
#timer {
    font-size: 8rem;
    color: gainsboro;
    text-align: center;
}
