

<div id="container">
    
    <div class="menu" ng-show="showmenu" ng-controller="HistoryCtrl">
        <div>
            <div style="color:rgba(216, 109, 64, 1)" ng-click="toogle()">Close</div>
            <span style="color:rgba(216, 109, 64, 1)">History </span>
            <div class="form">
                <form ng-submit="addMessages()">
                    <label>
                        <input type="text" ng-model="newTask" placeholder="new task" value=" " maxlength="25"/>
                        <button id="button-submit">+</button>
                    </label>
                </form>
            </div>
        </div>
        <div class="cards" ng-repeat="task in tasks | orderBy: '-created_at'">
            <div class="top">
            <div class="time">{{task.created_at | date:'MMM d, y H:mm'}}</div>
                <div class="counter">{{counter}} x</div><div id="minitomato"><img  src="/app/images/favicon.ico"/></div>
                </div>
            <div class="bottom">
            <div class="name">{{task.text}}</div>
                </div>
            <div class="delete" ng-click=delete(task)>delete</div>
                
        </div>
    </div>

    
    <div class="hero">
        
        <div class="hero-head">
        <div ng-click="toogle()">Record my Tasks</div>
         <div class="signup">Sign Up</div>   
        </div>
    <div class="contain-logo"><img class="logo" src="/app/images/tomato4_logo.png" /></div>


    <div class="timer">
        <p ng-show="Work">{{time | timeCode}}</p>
        <p ng-hide="Work">{{timeBreak | timeCode}}</p>
    </div>

    <div class="butt">
        <div class="buttons" ng-click="start()" ng-if="Work && !runningWork">
            start
        </div>
        <div class="buttons" ng-click="stop()" ng-if="Work && runningWork" style="background-color: rgba(238, 124, 87, 1)">
            pause
        </div>
        </br>
        <div class="button-reset" ng-click="reset()" ng-if="Work">
            RESET
        </div>
        <div class="buttons" ng-click="startBreak()" ng-if="!Work && !runningBreak">
            start break
        </div>
        <div class="buttons" ng-click="stopBreak()" ng-if="!Work && runningBreak" style="background-color: rgba(238, 124, 87, 1)">
            pause break
        </div>
        </br>
        <div class="button-reset" ng-click="resetBreak()" ng-if="!Work">
            RESET BREAK
        </div>
    </div>
</div>
</div>
<footer>
    <span>{{footerMessage}}</span>

</footer>
